.tabs {
  display: flex;
  gap: 8px;
  background-color:#ffff;
  padding: 12px;
  border-radius: 54px;
}

.tab {
  padding: 10px 24px;
  border-radius: 20px;
  border: none;
  background:var(--primary);
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  color: #ffff;
  transition: all 0.3s ease;
}

.tab.active {
  background:var(--primary);
  color: #ffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.tab:hover:not(.active) {
  background: #0d2c5b;
  color: rgba(255, 255, 255, 0.9);
}
.spec-header {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 40px;
}

.specialties-section-title {
  font-family: "Satoshi", sans-serif;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}
